.card-body h4 {
  overflow-wrap: normal;
}

.bg-gradient {
  background-image: radial-gradient(#d7d7d7 1px, transparent 1px),
    radial-gradient(#d7d7d7 1px, transparent 1px);
}

@media (min-width: 768px) {
  .footer {
    position: absolute;
    top: 86vh;
  }
}
